
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');



html{
  scroll-behavior: smooth;
  background-color: black;
  /* z-index: 0; */
}

.zoom_fade_in{
  scale: 1;
  opacity: 1;
  animation: zoom_fade_in_ 5s linear 0s 1;
}
@keyframes zoom_fade_in_ {
  0% {scale: 1;
  opacity: 1;}

  40% {scale: 6;
    opacity: 0;}

  100% {
    opacity: 0;
  }
}

.zoom_fade_in_lite{
  scale: 0.5;
  animation: zoom_fade_in_lite 4s linear 1s 1;
}
@keyframes zoom_fade_in_lite {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 5;

  }
}

.main_zoom_in{
  animation: main_zoom_in 1.5s linear 0s 1;
}
@keyframes main_zoom_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;

  }
}

.filter{
  -webkit-filter: drop-shadow(5px 5px 10px black);
}

.animate-bounce_ {
  animation: bounce_ 4s 2s infinite;
}

@keyframes bounce_ {
  0%, 50%, 100% {
      scale: 1;
  }
  25% {
      scale: 0.8
  }

}
