

html{
  scroll-behavior: smooth;
  background-color: black;
  z-index: 0;
}

.zoom_fade_in{
  scale: 1;
  opacity: 1;
  animation: zoom_fade_in_ 5s linear 0s 1;
}
@keyframes zoom_fade_in_ {
  0% {scale: 1;
  opacity: 1;}

  40% {scale: 6;
    opacity: 0;}

  100% {
    opacity: 0;
  }
}

.zoom_fade_in_lite{
  scale: 0.5;
  animation: zoom_fade_in_lite 4s linear 1s 1;
}



@keyframes zoom_fade_in_lite {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 1;
  }

  100% {
    scale: 5;

  }

}